# Environments & Caches
.venv/
__pycache__/
*.pyc

# Local Tracking Directories (Shielded from Git)
data/raw/
data/processed/
submissions/
catboost_info/
data/avyukt_processed/

# OS Specific junk
.DS_Store